.final-qrcode {
    width: 200px;
}
.final-qrcode > p {
    margin-top: -0.5ex;
}
.big {
    font-size: 200%;
}
.blog-logo {
    margin: 30px;
}
.image-categories {
    position: relative;
    top: -200px;
    z-index: -1;
}
pre.code {
    font-size: 160%;
    font-family: inconsolata, monospace;
}
pre.code span.s2 {
    color: #203550;
}
pre.code span.s2 {
    color: #203550;
}
pre.code span.nb {
    color: #003510;
}
pre.code span.k {
    color: #003510;
}
